<h1>ユーザー詳細画面</h1>
<%= link_to ' 打刻一覧', user_time_cards_path(current_user.id), type: 'button', class: 'btn btn-default navbar-btn a_h_btn' %>
<%= link_to ' タイムカード打刻', user_time_card_path(current_user.id), type: 'button', class: 'btn btn-default navbar-btn a_h_btn' %>